@import url('https://fonts.googleapis.com/css2?family=Fjalla+One&family=Merriweather+Sans:ital,wght@0,300;0,400;0,500;1,300;1,400&display=swap');



* {
  box-sizing: border-box;
  overflow-x: hidden;
}


body {
  margin: 0;
  }

h1,h2,h3,h4 {
  font-family: 'Fjalla One', sans-serif;
  font-weight: 200;
  font-size: 3.5vw;
  line-height: 1.1em;
}

p{
  font-family: 'Merriweather Sans', sans-serif;
  font-size: 15px;
  line-height: 1.8em;
  font-weight: 300;
}


/* Navbar */


.sm-logo{
font-family: 'Fjalla One', sans-serif;
font-size: 50px;
color: white;

}

div.scroll {
  background-color: black!important;
  position: fixed;
  width: 100%;
  z-index: 5;
}


#navbar {
  background-color: transparent;
  display: flex;
  justify-content: center;
  padding-bottom: 0;
  height: 100px;
  align-items: center;
}


.nav-menu {
  display: flex;
  flex-direction: row;
  list-style: none;
}



.nav-links {
  margin-left: 50px;
  margin-right: 20px;
  color: white;
  padding: 5px;
  display: inline-block;
  list-style: none;
  text-decoration: none;
  font-family: 'Merriweather Sans', sans-serif;
  text-transform: uppercase;
}

.burger {
  display:  none;
  }



/* Hero image */


#hero-image {
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("../images/hero.png");
  height: 100vh;
  width:  100vw;
  max-width:100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  }


/* Hero overlay */

#hero-overlay{
  position: absolute;
  left: 20px;
  bottom: 10px;
  color: white;
  display: flex;
  align-items: center;
  justify-content: end;
  flex-direction: column;
}

.text-div{
  width: 80%;
}

/* Background div */



.background-div {
  /*background-image: linear-gradient(130deg,#f3f3f3 0%,#F8F8F8 100%)!important; */
  background-color: blue;
  padding-left: 10%;
  padding-top: 5%;
}


/* About section */

#about-div {
  display:  flex;
  background-color: white;
  padding: 60px;
  border-radius: 30px 0 0 0;

}

.author-img {
  max-width: 60%;
  height: auto;
}

/* Button design by Michael McMillan found on https://getcssscan.com/css-buttons-examples */

.main-button {
  font-family: "Open Sans", sans-serif;
  font-size: 16px;
  letter-spacing: 2px;
  text-decoration: none;
  text-transform: uppercase;
  color: #000;
  cursor: pointer;
  border: 3px solid;
  padding: 0.25em 0.5em;
  box-shadow: 1px 1px 0px 0px, 2px 2px 0px 0px, 3px 3px 0px 0px, 4px 4px 0px 0px, 5px 5px 0px 0px;
  position: relative;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}

.button-54:active {
  box-shadow: 0px 0px 0px 0px;
  top: 5px;
  left: 5px;
}

@media (min-width: 768px) {
  .main-button {
    padding: 0.25em 0.75em;
  }
}
}


/* Simple Responsive Framework. */
.row {
  width: 100%;
}




/********** Large devices only **********/

@media (min-width: 1025px) {

  .col-lg-1 {
    width: 8.33%;
  }
  .col-lg-2 {
    width: 16.66%;
  }
  .col-lg-3 {
    width: 25%;
  }
  .col-lg-4 {
    width: 33.33%;
  }
  .col-lg-5 {
    width: 41.66%;
  }
  .col-lg-6 {
    width: 50%;
  }
  .col-lg-7 {
    width: 58.33%;
  }
  .col-lg-8 {
    width: 66.66%;
  }
  .col-lg-9 {
    width: 74.99%;
  }
  .col-lg-10 {
    width: 83.33%;
  }
  .col-lg-11 {
    width: 91.66%;
  }
  .col-lg-12 {
    width: 100%;
  }
}

/********** Medium devices only **********/

@media (min-width: 769px) and (max-width: 1024px) {
  
  .col-md-1 {
    width: 8.33%;
  }
  .col-md-2 {
    width: 16.66%;
  }
  .col-md-3 {
    width: 25%;
  }
  .col-md-4 {
    width: 33.33%;
  }
  .col-md-5 {
    width: 41.66%;
  }
  .col-md-6 {
    width: 50%;
  }
  .col-md-7 {
    width: 58.33%;
  }
  .col-md-8 {
    width: 66.66%;
  }
  .col-md-9 {
    width: 74.99%;
  }
  .col-md-10 {
    width: 83.33%;
  }
  .col-md-11 {
    width: 91.66%;
  }
  .col-md-12 {
    width: 100%;
  }
}


@media (min-width: 101px) and (max-width: 768px) {


  .burger {
  padding: 20px;
  display: block;
  position: fixed;
  right:  0;
  font-size: 1.5em;
  color:  white;
  }

  .nav-menu {
  margin: 0;
  text-align: center;
  background: #343434;
  position: fixed;
  top: 80px;
  right: -50%;
  width: 50%;
  height: calc(100% - 80px);
  flex-direction: column;
  justify-content:space-around;
  padding: 0;
  overflow: hidden;
  }

  .nav-menu-active {
  right: 0;
  poition: fixed;
  z-index: 5;
  }

  .nav-links {
  margin: 0;
  font-size: 1.2em;
  color: white;
  }

  .sm-logo{
  font-size: 1.2em;
  position: fixed;
  left: 15%;
  }

  #about-div {
    padding:  10px;
  }

}



